body {
/*   font-size: 38px; */
  font-size: 18px;
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  padding: 120px;
  color: white;
}

.container {
  margin: 50px auto;
  /* width: 700px; */
  width: 1000px;
}

.banner > .container {
  background-color: rgba(0, 0, 0, 0.5);
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  margin: 30px auto 0 auto;
  color: crimson;
  background-image: linear-gradient(
    to bottom,
    rgba(233, 253, 240, 1),
    rgb(142, 187, 201)
  );
  max-width: fit-content;
  padding: 5px;
}

a:hover {
  background-image: linear-gradient(
    to bottom,
    rgb(97, 201, 127),
    rgb(24, 83, 45)
  );
  color: white;
}

@media (max-width: 1200px) {
/*   body {
    font-size: 18px;
  } */

  .container {
    width: 700px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 576px) {
  .container {
    width: fit-content;
  }
}
